AUTH_MS_DATABASE_URL="db_url"
AUTH_MS_JWT_SECRET="jwt_token"
NATS_SERVERS=nats://nats-server:4222
NATS_SERVICE_KEY="NATS_SERVICE"
PRODUCT_MS_DATABASE_URL="mongodb+srv://licethusma36173_db_user:3LrN0MjIKCqnZpEe@cluster0.ryuvqro.mongodb.net/productDb?retryWrites=true&w=majority&appName=Cluster0"